.gradient-box {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background: white;
  background-size: 200% 200%;
  animation: gradient 5s ease infinite alternate;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}

.landing-box-wrapper {
  box-sizing: border-box;
  height: calc(100% - 6em);
  width: calc(100% - 6em);
  display: flex;
  /* border: 1px solid #785ae6; */
  border-radius: 10px;
  padding: 0 5em 0 5em;
}

#landing-box-h1 {
  font-family: 'GeneralSans-Medium';
  font-size: 3.5em;
  color: black;
  line-height: 1em;
  margin-bottom: 0;
}

.decorative-line {
  background-color: white;
  height: 1px;
  width: 100%;
}

.column1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

#column-1-contents {
  display: flex;
  flex-direction: column;
  align-items: center; /* For horizontal centering */
  justify-content: center; /* For vertical centering */
  height: 100%; /* Make sure it takes the full height of the parent */
}

#column-1-contents p {
  color: #63727e;
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 2em 0 1.5em 0;
  
}

.column2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
  font-family: 'Karla';
}

.column2 p {
  text-align: right; 
}

#landing-box-button {
    position: relative;
    align-self: flex-start;
    display: flex;
    padding: 20px 60px;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    background-color: #785ae6;
    border: 1px solid #785ae6;
    overflow: hidden;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  
  #landing-box-button .button-text {
    position:relative;
    z-index: 3;
  }

  #landing-box-button::before {
    /* content: "→"; */
    font-size: 36px;
    position: abslolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2; /* Set z-index higher than ::after */
  }
  
  #landing-box-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: white;
    transition: width 0.3s ease;
    z-index: 1; /* Set z-index lower than ::before */
  }
  
  #landing-box-button:hover::after {
    width: 100%;
  }
  
  #landing-box-button:hover {
    color: #785ae6;
    background-color: white;
  }

