.navbar {
  box-sizing: border-box;
  padding: 0 1.5em;
  background: black;
  background-size: 200% 200%;
  animation: gradient 5s ease infinite alternate;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: top 0.3s ease-in-out;
  z-index: 1000;
  padding: 0 1.5em 0 1.5em;
}

.nav-logo {
  font-family: "GeneralSans-SemiBold";
}

.navbar.hidden {
  top: -4em;
}

.navbar.active {
  top: 0;
}

.nav-logo {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
