.App {
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

#app-container {
  width: 100vw;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column;
}

.full-vh {
  height: 100vh;
  scroll-snap-align: start;
}

.dot-nav {
  position: fixed;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: gray;
  margin: 10px;
  cursor: pointer;
}

.dot.active {
  background: black;
}

/* App.css */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
 
}



