@import url('../src/assets/css/general-sans.css');

:root {
  --main-colour: #785ae6; 
}

body {
  margin: 0;
  font-family: 'Karla';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family: 'Karla';
}